<html>
    <head>
        <title>Logs</title>

        <link rel="stylesheet" href="/assets/styles.css">
        <link rel="icon" href="/assets/lilalogoclear.png" type="image/x-icon" />

        <script defer src='/assets/script.js'></script>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">
                    <span>Home</span>
                </a>
                |
                <a href="/logs">
                    <span>Logs</span>
                </a>
                |
                <a href="/domains">
                    <span>Domains</span>
                </a>
                |
                <a href="/ip">
                    <span>IP Management</span>
                </a>
                <div style="float: right">
                    |
                    <a href="/account">
                        <span><%= user.username %></span>
                    </a>
                    |
                </div>
            </nav>
        </header>
        <form id="search-form" class="form">
            <input type="text" name="ip" placeholder="Search by IP">
            <input type="text" name="domain" placeholder="Search by Domain">
            <input type="text" name="path" placeholder="Search by Path">
        </form>
        <div class="logs">
            <ul id="logs">
                <li>
                    <span class="time">[1.7.2021 at 18:36:40]</span> info: <span class="ip">82.42.222.79</span> visited <span class="domain">cyclingbob.cf</span>
                </li>
                <li>
                    <span class="time">[1.7.2021 at 18:36:40]</span> info: <span class="ip">82.42.222.79</span> visited <span class="domain">cyclingbob.cf</span>
                </li>
                <li>
                    <span class="time">[1.7.2021 at 18:36:40]</span> info: <span class="ip">82.42.222.79</span> visited <span class="domain">cyclingbob.cf</span>
                </li>

                <% logs.forEach(function(log) { %>
                    <li>
                        <span class="time"><%= log.time.formatted %></span> info: <span class="ip"><%= log.ip %></span> visited <span class="domain"><%= log.domain %></span><span class="path"><%= log.path %></span> in <span class="country"><%= log.country %></span>
                    </li>
                <% }); %>
            </ul>
        </div>
    </body>
</html>